<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shinzo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CA87A1B1CCD299B00A78F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA87A331CCD299C00A78F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA87A3E1CCD299C00A78F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
